<h1>
  {{title}}

  <ul>

    <li *ngFor="let item of items | async">
        {{item.$value}}
    </li>
  </ul>
</h1>
<div>


  <button md-button (click)="onClick()" [class.state1]="state.state1" [class.state2]="state.state2" [class.state3]="state.state3">Flat button</button>
<div class="btn-group">
  <div id="content">
    <button class="button button1">Green</button>
    <button class="button button1">Green</button>
    <button class="button button1">Green</button>
    <button class="button button1">Green</button>
  </div>
</div>
<div class="btn-group">
  <div id="content">
    <button class="button button1">Green</button>
    <button class="button button1">Green</button>
    <button class="button button1">Green</button>
    <button class="button button1">Green</button>
  </div>
</div>
<div class="btn-group">
  <div id="content">
    <button class="button button1">Green</button>
    <button class="button button1">Green</button>
    <button class="button button1">Green</button>
    <button class="button button1">Green</button>
  </div>
</div>
<div class="btn-group">
  <div id="content">
    <button class="button button1">Green</button>
    <button class="button button1">Green</button>
    <button class="button button1">Green</button>
    <button class="button button1">Green</button>
  </div>
</div>
<button md-button [disabled]='loadingSample'>play</button>
</div>
